<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conversor de Imagens</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Conversor de Imagens para WebP</h1>
            <form th:action="@{/api/image/convert}" method="post" enctype="multipart/form-data">
                <div class="field">
                    <label class="label">Selecione uma imagem para converter</label>
                    <div class="control">
                        <input class="input" type="file" name="file" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Converter para WebP</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
